/*-~- variables -~-*/
// Font
$font-main: sans-serif;
$font-sec: serif;

// Colors
$black: #000;
$white: #fff;
$grey: #9d9fa2;
$loginCol: #ae713d;

// Durations
$fastDuration: .1s;
$mediumDuration: .3s;
$slowDuration: .6s;
