/*-~- variables -~-*/
// Font
$font-main: sans-serif;
$font-sec: serif;

// Colors
$black: #000;
$white: #fff;
$grey: #9d9fa2;
$loginCol: #ae713d;
$backgroundColor: #1abc9c;
$blue: darkblue;
$lightskyblue: lightskyblue;

// Durations
$fastDuration: .1s;
$mediumDuration: .3s;
$slowDuration: .6s;

// Utilities

.hover-over{
    &:hover{
        cursor:pointer;
        }
}