    <div class="container">
        <div class="col-xs-12 clearfix">   
            <ol class="breadcrumb">
                <li class="breadcrumb-item">You are logged in like "Admin"</li>
            </ol>
        </div>

        <div class="col-xs-12 users-table">
            <h2>All Users</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Act. Date</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mark@oto.com</td>
                        <td>1234567890</td>
                        <td>21.05.2017.</td>
                        <td><span class="delete-user">x</span></td>
                    </tr>
                   <tr>
                        <th scope="row">2</th>
                        <td>Peter</td>
                        <td>Someone</td>
                        <td>peter@someone.com</td>
                        <td>1234567890</td>
                        <td>22.05.2017.</td>
                        <td><span class="delete-user">x</span></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>John</td>
                        <td>Peoplefox</td>
                        <td>john@peoplefox.com</td>
                        <td>1234567890</td>
                        <td>23.05.2017.</td>
                        <td><span class="delete-user">x</span></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Lebron</td>
                        <td>James</td>
                        <td>lb23@james.com</td>
                        <td>1234567890</td>
                        <td>24.05.2017.</td>
                        <td><span class="delete-user">x</span></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Kobee</td>
                        <td>Bryent</td>
                        <td>kobee@bryent.com</td>
                        <td>1234567890</td>
                        <td>25.05.2017.</td>
                        <td><span class="delete-user">x</span></td>
                    </tr>
                </tbody>
            </table>
            
            <div class="pagination-smart">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#"><</a></li>
                    <li class="page-item page-item-page active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item page-item-page"><a class="page-link" href="#">2</a></li>
                    <li class="page-item page-item-page"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">></a></li>
                </ul>
            </div>
        </div>
    </div>