    <div class="container">
        <div class="col-xs-12 clearfix">   
            <ol class="breadcrumb">
                <li class="breadcrumb-item">You are <strong>Admin</strong></li>
            </ol>
        </div>

        <div class="col-xs-12 users-table">
            <h4>All Users</h4>
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Privileges</th>
                            <th>Act. Date</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mark@oto.com</td>
                            <td>1234567890</td>
                            <td>Voter</td>
                            <td>21.05.2017.</td>
                            <td><span class="delete-user">x</span></td>
                        </tr>
                    <tr>
                            <th scope="row">2</th>
                            <td>Peter</td>
                            <td>Someone</td>
                            <td>peter@someone.com</td>
                            <td>1234567890</td>
                            <td>Voter</td>
                            <td>22.05.2017.</td>
                            <td><span class="delete-user">x</span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>John</td>
                            <td>Peoplefox</td>
                            <td>john@peoplefox.com</td>
                            <td>1234567890</td>
                            <td>Viewer</td>
                            <td>23.05.2017.</td>
                            <td><span class="delete-user">x</span></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Lebron</td>
                            <td>James</td>
                            <td>lb23@james.com</td>
                            <td>1234567890</td>
                            <td>Facilitator</td>
                            <td>24.05.2017.</td>
                            <td><span class="delete-user">x</span></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Kobee</td>
                            <td>Bryent</td>
                            <td>kobee@bryent.com</td>
                            <td>1234567890</td>
                            <td>Admin</td>
                            <td>25.05.2017.</td>
                            <td><span class="delete-user">x</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination-smart">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#"><</a></li>
                    <li class="page-item page-item-page active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item page-item-page"><a class="page-link" href="#">2</a></li>
                    <li class="page-item page-item-page"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">></a></li>
                </ul>
            </div>
        </div>
        
        <div class="add-user col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <h4>Add New User</h4>
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="privileges">Privilege</label>
                    <select class="form-control" id="privileges">
                        <option value="">--</option>
                        <option value="admin">Admin</option>
                        <option value="facilitator">Facilitator</option>
                        <option value="voter">Voter</option>
                        <option value="viewer">Viewer</option>
                        <option value="facilitator_and_voter">Facilitator&Voter</option>
                    </select>
                </div>

                    <button class="btn btn-success create-user">Create User</button>
                
            </form>
        </div>
    </div>