<div class="container">
    <div class="col-xs-12 users-table table-responsive">
        <table class="table ">
            <h4 class='text-center'>All Users</h4>
            <thead>
                <button class='btn btn-success' ng-click='admin.addUser()'>Add New User</button>
                <tr>
                    <th> </th>
                    <th>Username</th>
                    <th>Privileges</th>
                    <th>Date Created</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="info in admin.userInfo.slice(((admin.pagination.currentPage - 1) * admin.pagination.maxSize), (admin.pagination.currentPage) * admin.pagination.maxSize)" ng-click='admin.editUser(info)' class='hover-over'>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ info.username }}</td>
                    <td>
                        <span ng-repeat='role in info.role'>{{ role.title }} </span>
                    </td>
                    <td>{{ admin.convertDate(info.dateCreated) }}</td>
                    <td><span class="delete-user" ng-click='admin.deleteUser(info._id)'>x</span></td>
                </tr>
            </tbody>
        </table>
        <div uib-pagination total-items="admin.userInfo.length" ng-model="admin.pagination.currentPage"
            class="pagination-sm" items-per-page="admin.pagination.maxSize" previous-text="&larr;" next-text="&rarr;"></div>
    </div>
</div>