<div class="container">

    <!-- ============================
        Show Created Decisions
    ================================= -->
    <div class="col-xs-12">

        <h4 class="fascilitator-title">All Decisions</h4>
        <p>
        <button class="btn btn-primary" ng-click="facilitator.addDecision()">Create a new decision</button>
        </p>
        <div class="table-fascilitator table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Date Created</th>
                        <th>Expiration Date</th>
                        <th>Status</th>
                        <th>Reactivate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="resolution in facilitator.resolutions">
                        <td>{{$index+1}}</td>
                        <td>{{resolution.title}}</td>
                        <td>{{resolution.type}}</td>
                        <td>{{resolution.startingDate}}</td>
                        <td>{{resolution.expirationDate}}</td>
                        <td>{{facilitator.decisionStatus(resolution.startingDate, resolution.expirationDate)}}</td>
                        <td><button class="btn btn-warning disabled">Reactivate</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>