<div class="container">

    <!-- ============================
        Show Created Decisions
    ================================= -->
    <div class="col-xs-12">

        <h4 class="fascilitator-title">All Decisions</h4>
        <p>
            <button class="btn btn-primary" ng-click="facilitator.addDecision()">Create a new decision</button>
        </p>
        <div class="table-fascilitator table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Date Created</th>
                        <th>Expiration Date</th>
                        <th>Status</th>
                        <th>Reactivate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="resolution in facilitator.resolutions.slice(((facilitator.pagination.currentPage - 1) * facilitator.pagination.maxSize), (facilitator.pagination.currentPage) * facilitator.pagination.maxSize)" class='hover-over'>
                        <td>{{$index+1}}</td>
                        <td>{{resolution.title}}</td>
                        <td>{{resolution.type}}</td>
                        <td>{{facilitator.dateReform(resolution.startingDate)}}</td>
                        <td>{{facilitator.dateReform(resolution.expirationDate)}}</td>
                        <td>{{facilitator.decisionStatus(resolution.startingDate, resolution.expirationDate)}}</td>
                        <td><button class="btn btn-warning disabled">Reactivate</button></td>
                    </tr>
                </tbody>
            </table>
            <div uib-pagination total-items="facilitator.resolutions.length" ng-model="facilitator.pagination.currentPage" class="pagination-sm" items-per-page="facilitator.pagination.maxSize"
                previous-text="&larr;" next-text="&rarr;"></div>
        </div>
    </div>
</div>