    <!-- =============================
        Decisions for voting
    ================================== -->
    <div class="container">
        <div class="col-xs-12 clearfix">   
            <ol class="breadcrumb">
                <li class="breadcrumb-item">You are <strong>Voter/Viewer/Admin</strong></li>
            </ol>
        </div>
        <h4 class="title-listing resolution">Active Resoulution</h4>
        
        <div class="decisions resolution">
            <div class="card col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2"> 
                <div class="clearfix alert-success">
                    <div class="voting-type">
                        <span>Type: {{ resolution.resoultionInfo.type }}</span>
                    </div> 
                    <div class="expiration-date text-right">
                        <div ng-show="resolution.resoultionInfo.active === false">
                            Time is expired!
                            
                        </div>
                        <div ng-show="resolution.resoultionInfo.active === true">
                            <span><strong>{{ resolution.resoultionInfo.expirationDate | date: "dd" }}</strong> <span>days</span>,
                            <span><strong>{{ resolution.resoultionInfo.expirationDate | date: "hh" }}</strong> hours</span>, 
                            <span><strong>{{ resolution.resoultionInfo.expirationDate | date: "mm" }}</strong> minutes</span>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="decision-text">
                    {{ resolution.resoultionInfo.description }}
                </div>
                <div class="card-block">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success">
                            <input type="radio" autocomplete="off"> Yes
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" autocomplete="off"> No
                        </label>
                    </div>
                    <div class="vote">
                        <a href="#" class="btn btn-primary {{ resolution.resoultionInfo.active == true ? '123' : 'disabled' }}" ng-class="home">Vote</a>
                    </div>
                </div>
                <p class="collapse-results">
                    <button class="btn btn-secondary pull-right" type="button" data-toggle="collapse" data-target="#simple-majority" aria-expanded="false" aria-controls="simple-majority">
                        See Results
                    </button>
                </p>
                <div class="collapse" id="simple-majority">
                    <div class="card card-block">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" style="width: 60%" aria-valuemin="100">Yes &nbsp; <span>60%</span></div>
                        </div>
                        
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">No &nbsp; <span>40%</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <span class="resolution-back btn btn-warning" ui-sref="main.resolutions">Go Back</span>
                </div>
            </div><!-- .card -->

        </div><!-- #decisions -->
    </div>