    <!-- =============================
        Decisions for voting
    ================================== -->
    <div class="container">
        <div class="col-xs-12 clearfix">   
            <ol class="breadcrumb">
                <li class="breadcrumb-item">You are <strong>Voter/Viewer/Admin</strong></li>
            </ol>
        </div>
        <h4 class="title-listing">Active Listing</h4>
        
        <div class="clearfix decisions">
            <table class="table table-decisions">
                <tr>
                    <th>#</th>
                    <th>Question</th>
                    <th>Type</th>
                    <th>Date Created</th>
                    <th>Expiration Date</th>
                    <th>Results</th>
                </tr>
                <tr ng-repeat="active_decisions in resolutions.resoultionsInfo | filter: { active: true }">
                    <td>{{ $index+1 }}</td>
                    <td ui-sref="main.resolution({ id: active_decisions._id })"><span>{{ active_decisions.description }}</span></td>
                    <td>{{ active_decisions.type }}</td>
                    <td>{{ active_decisions.startingDate | date:"medium" }}</td>
                    <td>{{ active_decisions.expirationDate | date:"medium" }}</td>
                    <td>
                        <div class="results-progressbar">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" style="width: 60%" aria-valuemin="100"><span>60%</span></div>
                            </div>
                            
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span>40%</span></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
             <div class="pagination-smart">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <</a>
                </li>
                <li class="page-item page-item-page active"><a class="page-link" href="#">1</a></li>
                <li class="page-item page-item-page"><a class="page-link" href="#">2</a></li>
                <li class="page-item page-item-page"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">></a></li>
            </ul>
        </div>
    </div>
        
    <h4 class="title-listing">Archived Listing</h4>
        <div class="clearfix decisions archived-decisions">
            <table class="table table-decisions table-archived-decisions">
                <tr>
                    <th>#</th>
                    <th>Question</th>
                    <th>Type</th>
                    <th>Date Created</th>
                    <th>Expiration Date</th>
                    <th>Results</th>
                    <th>Reactivate</th>
                </tr>
                <tr ng-repeat="archived_decisions in resolutions.resoultionsInfo | filter: { active: false }">
                    <td>{{ $index+1 }}</td>
                    <td ui-sref="main.resolution({ id: archived_decisions._id })"><span>{{ archived_decisions.description }}</span></td>
                    <td>{{ archived_decisions.type }}</td>
                    <td>{{ archived_decisions.startingDate | date:"medium" }}</td>
                    <td>{{ archived_decisions.expirationDate | date:"medium" }}</td>
                    <td class="archived-progressbar-result">
                        <div class="results-progressbar">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" style="width: 60%" aria-valuemin="100"><span>60%</span></div>
                            </div>
                            
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span>40%</span></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-success decision-ractivate">Reactivate</button>
                    </td>
                </tr>
            </table>
             <div class="pagination-smart">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <</a>
                </li>
                <li class="page-item page-item-page active"><a class="page-link" href="#">1</a></li>
                <li class="page-item page-item-page"><a class="page-link" href="#">2</a></li>
                <li class="page-item page-item-page"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">></a></li>
            </ul>
        </div>
        </div>
        
</div>