<!-- =============================
        Decisions for voting
================================== -->
<div class="container">
    <h4 class="title-listing resolution">{{ resolution.resoultionInfo.active == 'Active' ? 'Active' : 'Expired' }}      Resoulution
    </h4>

    <div class="decisions resolution">
        <div class="cards col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8  col-lg-offset-2">
            <div class="clearfix alert-success">
                <div class="voting-type">
                    <span>Type: {{ resolution.resoultionInfo.decision.type }}</span>
                </div>
                <div class="expiration-date text-right">
                    <div ng-show="resolution.resoultionInfo.active === 'Expired' || seconds <= 0">
                        Time is expired!
                    </div>

                    <div ng-show="seconds > 0">
                        <span><strong>{{ timeTillEvent.daysLeft }}</strong> <span>days</span>,
                        <span><strong>{{ timeTillEvent.hoursLeft }}</strong> hours</span>,
                        <span><strong>{{ timeTillEvent.minutesLeft }}</strong> minutes</span>,
                        <span><strong>{{ timeTillEvent.secondsLeft }}</strong> seconds</span>
                    </div>


                </div>
            </div>
            <div class="decision-text">
                {{ resolution.resoultionInfo.decision.description }}
            </div>
            <div class="card-block">
                <div class="btn-group  {{ resolution.resoultionInfo.decision.active == 'Active' ? '' : 'hide' }}">
                    <form name="voteForm" ng-submit="resolution.voteSubmit()">
                        <label>
                            <input type="radio" name="myVote" ng-model="myVote" value="For" autocomplete="off" required="!myVote"> For
                        </label>
                        <label>
                            <input type="radio" name="myVote"  ng-model="myVote" value="Against" autocomplete="off" required="!myVote"> Against
                        </label>
                        <label>
                            <input type="radio" name="myVote"  ng-model="myVote" value="Reserved" autocomplete="off" required="!myVote"> Reserved
                        </label>

                        <div ng-if="myVote === 'Against' || myVote === 'Reserved'" class="col-xs-12">
                            <div class="form-group">
                                <textarea id="myText" cols="30" rows="10" class="form-control"
                                    ng-model="resolution.voterComment" 
                                    minimum-words-validation="5" 
                                    name="comment"
                                    minlength="20"
                                    required
                                ></textarea>
                                <div ng-show="!voteForm.comment.$valid && voteForm.comment.$dirty">
                                    <p ng-if="voteForm.comment.$error.minlength" class="message">You must insert 20 letters minimum!</p>
                                    <p ng-show="voteForm.comment.$error.minimumWords" class="message">You must insert 5 words minimum!</p>
                                </div>
                            </div>                    
                        </div>

                        <div ng-if="myVote === 'for'">
                            <div class="form-group" ng-hide="myVote === 'for'">
                                <textarea col="40" rows="5" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="vote {{ resolution.resoultionInfo.decision.active == 'Active' ? '' : 'hide' }}">
                            <input type="submit" class="btn btn-primary {{ resolution.resoultionInfo.decision.active == 'Active' ? '' : 'disabled' }}" ng-disabled="voteForm.$invalid || voteForm.$touched"
                                value="Vote" />
                        </div>
                    </form>

                    
                </div>

            </div>

            <div ng-if="resolution.resoultionInfo.decision.active == 'Active'">
                <a class="btn btn-secondary pull-left" role="button" data-toggle="collapse" href="#simple-majority" aria-expanded="false"
                    aria-controls="simple-majority">
                        See Results
                    </a>

                <div class="collapse" id="simple-majority">
                    <div class="card card-block">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" style="width: 50%" aria-valuemin="0">Yes &nbsp; </div>
                            <span>50%</span>
                        </div>

                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">No &nbsp;</div>
                            <span>40%</span>
                        </div>

                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">RS &nbsp; </div>
                            <span>10%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="resolution.resoultionInfo.active == 'Expired'" class="card card-block card-archived">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" style="width: 50%" aria-valuemin="100">Yes &nbsp; </div>
                    <span>50%</span>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">No &nbsp; </div>
                    <span>40%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">RS &nbsp; </div>
                    <span>10%</span>
                </div>
            </div>
            <div class="col-xs-12">
                <span class=" resolution-back btn btn-warning" ui-sref="main.resolutions">Go Back</span>
                <div ng-if="resolution.resoultionInfo.decision.active == 'Expired'">
                    <span class="pull-left resolution-back resolution-reactivate btn btn-info" ui-sref="main.resolutions">Reactivate</span>
                </div>
            </div>
        </div>
        <!-- .card -->
    <!-- #decisions -->
</div>
   <div class="comments">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <form name="createNewCommentForm" ng-submit="resolution.commentSubmit()">
                <div>
                    <h5 class="write-comment">Write comment</h5>
                    <div class="form-group">
                        <textarea id="createNewComment" cols="30" rows="7" class="form-control"
                            ng-model="resolution.commentAny"
                            name="commentAny"
                        ></textarea>
                    </div>          
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>          
                </div>
            </form>

            <div class="comments-table">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                        <img class="media-object" src="https://www.gravatar.com/avatar/HASH" alt="gravatar">
                        </a>
                    </div>
                    <div class="media-body">
                        <span>Author: Admin</span>&nbsp;
                        <span>- &nbsp; 23.01.2017.</span>
                        <p>By default, images are presented at 80px by 80px if no size parameter is supplied. You may request a specific image size, which will be dynamically delivered from Gravatar by using the s= or size.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>