<div class="container-fluid">

    <h4 class="text-center">Active Listing</h4>

    <div class="row">
        <div class="form-group col-sm-push-1 col-sm-4">
            <label for="search">Search:</label>
            <input type="text" ng-model='activeListFilter' class="form-control" placeholder="Search">
        </div>
        <div class="form-group col-sm-push-2 col-sm-4">
            <label for="search">Sort Order:</label>
            <select class="form-control" ng-model="sortOrderActive" ng-init="sortOrderActive = sortOptions[0]" ng-options="option for option in sortOptions track by option"></select>
        </div>
    </div>

    <div class="panel panel-primary" ng-repeat="active_decision in filteredActiveDecisions = (activeDecisions | filter: activeListFilter) |
                        orderBy: sortOrderActive |
                        limitTo: paginationDecisionListing.maxSize : (paginationDecisionListing.currentPage - 1) * paginationDecisionListing.maxSize">
        <div class="panel-heading hover-over" ui-sref="main.resolution({ id: active_decision._id })">
            <div class="row">
                <span class="col-xs-1">{{ (paginationDecisionListing.currentPage - 1) * paginationDecisionListing.maxSize + $index + 1 }}</span>
                <span class="col-xs-5">Title: {{ active_decision.title }}</span>
                <span class="col-xs-6">Type: {{ active_decision.type }}</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <p class="col-xs-6">Started: {{ active_decision.startingDate | date:"short" }}</p>
                <p class="col-xs-6">Ends: {{ active_decision.expirationDate | date:"short" }}</p>
            </div>
            <div class="row">
                <p class="col-xs-12">Description: </p>
                <article class="col-xs-12">
                    {{ active_decision.description }}
                </article>
            </div>
        </div>
    </div>
    <div ng-show="filteredActiveDecisions.length >= 5">
        <pagination uib-pagination total-items="filteredActiveDecisions.length" ng-model="paginationDecisionListing.currentPage"
            ng-change="pageChanged()" class="pagination-sm" items-per-page="paginationDecisionListing.maxSize" previous-text="&larr;"
            next-text="&rarr;"></pagination>
    </div>

    <hr />

    <h4 class="text-center">Archived Listing</h4>

    <div class="row">
        <div class="form-group col-sm-push-1 col-sm-4">
            <label for="search">Search:</label>
            <input type="text" ng-model='archivedListFilter' class="form-control" placeholder="Search">
        </div>
        <div class="form-group col-sm-push-2 col-sm-4">
            <label for="search">Sort Order:</label>
            <select class="form-control" ng-model="sortOrderArchived" ng-init="sortOrderArchived = sortOptions[0]" ng-options="option for option in sortOptions track by option"></select>
        </div>
    </div>

    <div class="panel panel-primary" ng-repeat="archived_decision in filteredArchivedDecisions = ( archivedDecisions | filter: archivedListFilter ) |
                        orderBy:sortOrderArchived |
                        limitTo: paginationDecisionListingAr.maxSize : (paginationDecisionListingAr.currentPage - 1) * paginationDecisionListingAr.maxSize">
        <div class="panel-heading hover-over" ui-sref="main.resolution({ id: archived_decision._id })">
            <div class="row">
                <span class="col-xs-1">{{ (paginationDecisionListingAr.currentPage - 1) * paginationDecisionListingAr.maxSize + $index + 1 }}</span>
                <span class="col-xs-5">Title: {{ archived_decision.title }}</span>
                <span class="col-xs-4">Type: {{ archived_decision.type }}</span>
            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <p class="col-xs-6">Started: {{ archived_decision.startingDate | date:"short" }}</p>
                <p class="col-xs-6">Ends: {{ archived_decision.expirationDate | date:"short" }}</p>
            </div>
            <div class="row">
                <p class="col-xs-12">Description: </p>
                <article class="col-xs-12">
                    {{ archived_decision.description }}
                </article>
            </div>
        </div>
    </div>
    <div ng-show="filteredArchivedDecisions.length > 5">
        <pagination uib-pagination total-items="filteredArchivedDecisions.length" ng-model="paginationDecisionListingAr.currentPage"
            ng-change="pageChanged()" class="pagination-sm" items-per-page="paginationDecisionListingAr.maxSize" previous-text="&larr;"
            next-text="&rarr;"></pagination>
    </div>
</div>