/*============================
    Decisions - view
==============================*/
.results-progressbar {
    .progress {
        margin-bottom: 5px;
        .progress-bar {
            height: 23px;
            &.bg-success {
                background: #27ae60;
            }
             &.bg-danger {
                background: #e74c3c;
            }
        }
    }
}
h4 {
    &.title-listing {
        color: #fff;
        margin-top: 37px;
        text-align: center;
    }
    &.resolution {
        margin-top: 100px;
        margin-bottom: -30px;
    }
    &.archived-title {
        margin-top: 100px;
    }
}
.decisions {
    &.resolution {
        margin-bottom: 500px;
        margin-top: 70px;
        .resolution-back {
            width: 120px;
            float: right;
            margin-bottom: 15px;
            color: #fff;
            font-size: 14px;
        }
    }
    .table-decisions {  
        background: #ae713d;
        max-width: 100%;
        overflow-x: scroll;
        vertical-align: middle;
        tr {
            color: #fff;
            vertical-align: middle;
            span {
                color: #fff;
                max-width: 300px;
            }
            td, th {
                vertical-align: middle;
                &:last-of-type {
                    min-width: 150px;
                    span {
                        position: relative;

                        right: 5px;
                        float: right;
                    }
                }
                max-width: 300px;
            }
            td {
                &:nth-child(2) {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    margin-top: 30px;
    margin-bottom: 0px;
    .card {
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .voting-type {
        width: 45%;
        float: left;
        padding: 12px;
        font-weight: 600;
        font-size: 12px;
    }
    .expiration-date {
        width: 55%;
        float: left;
        color: #000;
        font-family: Arial;
        padding: 10px 20px;
    }
    .decision-text {
        margin: 30px 5px;
        color: #34495e;
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        font-family: Arial;
    }
    span {
        &:first-of-type {
            color: #34495e;
        }
        &:nth-of-type(2) {
            color: #2c3e50;
        }
        &:last-of-type {
            color: #2c3e50;
        }
    }
    .btn {
        &:hover {
            cursor: pointer;
        }
        &.btn-success, &.btn-danger, &.btn-info, &.btn-warning, &.btn-secondary {
            font-size: 14px;
            margin-right: 4px;
        }
        &.btn-danger {
            padding-left: 18px;
            padding-right: 18px;
        }
        &.btn-secondary {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 12px;
            border: none;
            padding-left: 0;
            &:hover, &:visited, &:active, &:focus {
                background-color: transparent;
                border: none;
                box-shadow: none;
            }
        }
    }
    .decision-ractivate {
        width: 90%;
        margin-left: 5%;
    }
    .super-majority {
        .btn {
            &.btn-danger {
                padding-left: 14px;
                padding-right: 14px;
            }
        }
    }
    .card-block {
        margin-top: -20px;
        margin-bottom: 0;
        border: none;
        .progress {
            margin-bottom: 10px;
            max-width: 70%;
            span {
                color: #fff;
                font-weight: 600;
            }
        }
    }
    .vote {
        margin-top: 20px;
        a {
            font-size: 14.5px;
        }
    }
    .collapse-results {
        margin: 0;
        margin-top: -23px;
        padding: 0 10px 0 20px;
        &:hover {
            opacity: .8;
        }
    }  
}

.archived-decisions {
    margin-bottom: 140px;
}  

.archived-progressbar-result {
    min-width: 150px;
    max-width: 300px;
    span {
        position: relative;
        right: 5px;
        float: right;
    }
}

    @media screen and (max-width: 400px){
        #decisions {
            .vote {
                a {
                    font-size: 12px;
                }
            }
            .voting-type {
                width: 100%;
                display: block;
                margin-bottom: -14px;
                font-size: 12px;
                text-align: center;
            }
            .expiration-date {
                width: 100%;
                display: block;
                font-size: 12px;
                text-align: center !important;
            }
            .decision-text {
                font-size: 12px;
            }
            .card-block {
                overflow-x: scroll;
                .btn {
                    font-size: 11px;
                }
            }
        }
        
    }