/*============================
    Decisions - view
==============================*/
.results-progressbar {
    .progress {
        margin-bottom: 5px;
        .progress-bar {
            height: 23px;
            &.bg-success {
                background: #27ae60;
            }
             &.bg-danger {
                background: #e74c3c;
            }
        }
    }
}
h4 {
    &.title-listing {
        color: #fff;
        margin-top: 37px;
        text-align: center;
    }
    &.resolution {
        margin-top: 100px;
        margin-bottom: -30px;
    }
    &.archived-title {
        margin-top: 100px;
    }
}
.decisions {
    &.resolution {
        margin-bottom: 700px;
        margin-top: 70px;
        .resolution-back {
            width: 120px;
            float: right;
            margin-bottom: 15px;
            color: #fff;
            font-size: 14px;
        }
    }
    .table-decisions {  
        background: #ae713d;
        max-width: 100%;
        overflow-x: scroll;
        vertical-align: middle;
        tr {
            color: #fff;
            vertical-align: middle;
            span {
                color: #fff;
                max-width: 300px;
            }
            td, th {
                word-wrap: break-word; 
                vertical-align: middle;
                &:last-of-type {
                    min-width: 150px;
                    span {
                        position: relative;

                        right: 5px;
                        float: right;
                    }
                }
                max-width: 300px;
            }
            td {
                &:nth-child(2) {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    margin-top: 30px;
    margin-bottom: 0px;
    .card {
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .voting-type {
        width: 45%;
        float: left;
        padding: 12px;
        font-weight: 600;
        font-size: 12px;
    }
    .expiration-date {
        width: 55%;
        float: left;
        color: #000;
        font-family: Arial;
        padding: 10px 20px;
    }
    .decision-text {
        margin: 50px 5px;
        margin-bottom: 70px;
        color: #34495e;
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        font-family: Arial;
        word-wrap: break-word;
        -ms-word-wrap: break-word;
    }
    span {
        &:first-of-type {
            color: #34495e;
        }
        &:nth-of-type(2) {
            color: #2c3e50;
        }
        &:last-of-type {
            color: #2c3e50;
        }
    }
    .btn {
        &:hover {
            cursor: pointer;
        }
        &.btn-success, &.btn-danger, &.btn-info, &.btn-warning, &.btn-secondary {
            font-size: 14px;
            margin-right: 4px;
        }
        &.btn-danger {
            padding-left: 18px;
            padding-right: 18px;
        }
        &.btn-secondary {
            width: 100%;
            margin-bottom: 10px;
            font-size: 12px;
            border: 3px solid transparent;
            padding-left: 0;
            background-color: transparent;
            text-align: left;
            &:hover, &:visited, &:active, &:focus {
                background-color: transparent;
                border: 3px solid transparent;
                box-shadow: none;
            }
        }
    }
    .decision-ractivate {
        width: 90%;
        margin-left: 5%;
    }
    .super-majority {
        .btn {
            &.btn-danger {
                padding-left: 14px;
                padding-right: 14px;
            }
        }
    }
    .card-block {
        margin-top: 70px;
        margin-bottom: 20px;
        border: none;
        &.card-archived {
            margin: -40px 15% 40px 15%;
        }
        .progress {
            margin-bottom: 10px;
            max-width: 100%;
            width: 100%;
            height: 30px;
            background: rgba(149, 165, 166, 0.3);
            .progress-bar {
                display: flex;
                justify-content: center;
                align-items: center;
                &.bg-success{
                    background: #27ae60;
                }
                &.bg-danger {
                    background: #e74c3c;
                }
            }
            span {
                color: #fff;
                font-weight: 600;
            }
        }
    }
    .vote {
        margin-top: 30px;
        a {
            padding: 7px 38px;
            font-size: 14.5px;
        }
    }
    .collapse-results {
        width: 100%;
        display: block;
        margin: 0;
        float: left !important;
        text-align: left !important;
        &:hover {
            opacity: .8;
        }
    }  
}
.archived-decisions {
    margin-bottom: 140px;
}  

.archived-progressbar-result {
    min-width: 150px;
    max-width: 300px;
    span {
        position: relative;
        right: 5px;
        float: right;
    }
}


/*=============================================
    Smaller Screens
===============================================*/
    @media screen and (max-width: 400px){
        #decisions {
            .vote {
                a {
                    font-size: 12px;
                }
            }
            .voting-type {
                width: 100%;
                display: block;
                margin-bottom: -14px;
                font-size: 12px;
                text-align: center;
            }
            .expiration-date {
                width: 100%;
                display: block;
                font-size: 12px;
                text-align: center !important;
            }
            .decision-text {
                font-size: 12px;
            }
            .card-block {
                overflow-x: scroll;
                .btn {
                    font-size: 11px;
                }
            }
        }
        
    }

    @media screen and (min-width: 401px) and (max-width: 800px){
        .decisions {
            width: 100%;
            overflow-x: scroll;
            .table-decisions {
                tr {
                    th, td {
                        font-size: 12px;
                        min-width: 140px;
                        &:first-of-type {
                            min-width: 50px;
                        }
                        &:nth-of-type(2) {
                            min-width: 240px;
                        }
                        &:last-of-type {
                            min-width: 120px;
                            span {
                                position: relative;

                                right: 5px;
                                float: right;
                            }
                        }
                    }
                }
            }
            .voting-type {
                font-size: 11px;
            }
            .expiration-date {
                font-size: 11px;
                position: relative;
                top: 2px;
            }
            .decision-text {
                font-size: 15px;
            }
        } 
    }

    @media screen and (max-width: 400px){
        .decisions {
            width: 100%;
            overflow-x: scroll;
            .table-decisions {
                tr {
                    th, td {
                        font-size: 11px;
                        min-width: 110px;
                        &:first-of-type {
                            min-width: 40px;
                        }
                        &:nth-of-type(2) {
                            min-width: 200px;
                        } 
                        &:nth-of-type(6) {
                            min-width: 120px;
                        }
                        &:last-of-type {
                            min-width: 150px;
                            span {
                                position: relative;

                                right: 5px;
                                float: right;
                            }
                        }
                    }
                }
            }
            .resolution-back {
                font-size: 12px !important;
                display: block;
                width: 100% !important;
                &:last-of-type {
                    width: 100%;
                    margin-left: -4px;
                }
            }
            .voting-type, .expiration-date {
                display: block;
                width: 100% !important;
                text-align: center;
            }
            .voting-type {
                margin-bottom: -15px;
            }
            .expiration-date {
                font-size: 11.5px;
                position: relative;
                top: 2px;
            }
            .decision-text {
                font-size: 14px;
            }
            .decision-ractivate {
                font-size: 12px !important;
                letter-spacing: .5px;
            }
        } 
    }   

    @media screen and (max-width: 320px ){
        
    }