/*=========================
    All Users
===========================*/
.pagination-smart {
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    a {
        color: #000;
    }
    .page-link {
        border: 1px solid rgb(245, 245, 245);
    }
    .page-item.active .page-link {
        background-color: #ecf0f1;
        color: #000;
        border: 1px solid #ccc;
    }
}

// Checkbox - custom

.checkboxes {
    margin: 0 0 20px 0;
    :first-child{
        color: white;
        font-size: 20px;
        letter-spacing: 1px;
    }
        label{
        font-size: 15px;
        margin: 0 0 15px 0;
    }
    .newline{
        display:block;
    }
}