/*============================
    Table with Decisions
==============================*/
h4 {
    &.fascilitator-title {
        margin-top: 70px;
        color: #fff;
    }
}


/*=============================
    Error style
===============================*/

.custom-error-message{
    height:14px;
    width:100%;
}

.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback{
    color:$blue;
}

/*=============================
    Search bar tweaks
===============================*/

.search-bar{
    color: $blue;
    margin-top: 3px;
}