/*============================
    Table with Decisions
==============================*/
h4 {
    &.fascilitator-title {
        margin-top: 70px;
        color: #fff;
    }
}
.table-fascilitator {
    background-color: #fff;
    margin-bottom: 30px;
    .btn-warning {
        font-size: 12px;
        width: 90%;
    }
    .delete-decision  {
        background: red;
        padding: 5px 12px 7px 12px;
        color: #fff;
        font-weight: bold;
    }
    .delete-decision:hover {
        cursor: pointer;
    }
}


/*=============================
    Form to add new Decision
===============================*/
#form-voting {
    margin-top: 70px;
    margin-bottom: 140px;
    color: #fff;
    justify-content: center;
    .create-decision {
        margin-top: 20px;
        font-size: 15px;
        &:hover {
            cursor: pointer;
        }
    }
    input, select {
        font-size: 14px;
    }
}


/*=============================
    Angular Datepicker
===============================*/


