/*============================
    Table with Decisions
==============================*/
h4 {
    &.fascilitator-title {
        margin-top: 70px;
        color: #fff;
    }
}


/*=============================
    Form to add new Decision
===============================*/
#form-voting {
    margin-top: 70px;
    margin-bottom: 140px;
    color: #fff;
    justify-content: center;
    .create-decision {
        margin-top: 20px;
        font-size: 15px;
        &:hover {
            cursor: pointer;
        }
    }
    input, select {
        font-size: 14px;
    }
}


/*=============================
    Error style
===============================*/

.custom-error-message{
    height:14px;
    width:100%;
}

.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback{
    color:lightblue;
}

/*=============================
    Modal Title Style
===============================*/

.modal-dialog {
    label{
        color:red;
    }
}

/*=============================
    Modal Form Buttons
===============================*/

.form-buttons {
    display:inline-flex;
    .btn{
        margin-left: 8px;
    }
}

/*=============================
    Search bar tweaks
===============================*/

.search-bar{
    color: blue;
    margin-top: 3px;
}



/*=============================
    Bootstrap and other tweaks
===============================*/

.table-responsive{
    border: none;
}

.btn-modal{
    margin-top:7px;
}

.table {
    tr {
        &:hover {
            td {
                background-color: #fff;
                color: #000;
            }
        }
        td {
            color: #fff;
            
        }
        &:first-of-type {
            th {
                color: #000;
                span {
                    color: #000;
                }
            }
            &:hover {
                background: $loginCol;
                th {
                    color: #000;
                    span {
                        color: #000;
                    }
                }
            }  
        }
    }
}