body{
    background-image: url('../images/login-background.jpg');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}   


#wrapper{
    min-height: 100vh;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-input{
        border: double 3px $black;
        text-align: center;
        width: 280px;
        border-radius:5px;
        background-color: $loginCol;
        padding:20px;
        .login{
            padding-left: 5px;
            border: 1px solid $black;
            width:100%;
            margin-bottom:5px;
            &[type="submit"]{
                cursor: pointer;
                font-weight: bold;
                color:$black;
                background-color: darken($loginCol, 5%);
                width:30%;
                border-radius: 5px;
                border:1px solid $black;
                &:hover{
                    color:white;
                     background-color: lighten($loginCol, 10%);
                }
            }
        }
    }
}