/*-~- layout -~-*/
html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $font-main;
    font-size: 14px;
    color: $white;
    background-color: darken($lightskyblue, 70);
}

.container-fluid {
    max-width: 1280px;
    margin: 0 auto;
}

.panel{
    .panel-body {
        color: $blue;
        background-color: $lightskyblue;
    }
}